nav {
    position: fixed;
    top: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: #fdf2f8;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #be185d;
}
.nav-icon {
    display: flex;
    align-items: center;
}
.humberger {
    display: none;
}

.nav-icon img {
    width: 90px;
}

.navlinks-container {
    display: flex;
    align-items: center;
}
.navbar_link_item {
    color: #be185d;
    margin-left: 3rem;
    text-decoration: none;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 133.84%;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    animation: reveal 300ms ease-in-out forwards;
}
@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(80%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
.navbar_link_item::after {
    content: "";
    display: inline-block;
    width: 100%;
    padding: 1px;
    background-color: #be185d;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.navbar_link_item::before {
    content: "//";
    padding-right: 0.3rem;
    color: #be185d;
}
.navbar_link_item:nth-child(1)::before {
    content: "";
}
.navbar_link_item:hover::after {
    transform: scaleX(1);
    transition: transform 300ms ease-in-out;
}
@media (max-width: 900px) {
    nav {
        position: fixed;
    }
    .nav-icon {
        order: 2;
    }
    .main-navlinks {
        order: 1;
        margin: 2%;
    }
    .humburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        position: relative;
        display: flex;
        align-items: center;
    }
    .humburger span:nth-child(1) {
        transform: translateY(7px);
    }
    .humburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .humburger span {
        display: block;
        width: 100%;
        height: 2px;
        left: 0%;
        position: absolute;
        background: #333;
        pointer-events: none;
        /* transition: opacity 300ms 0.15s ease-out; */
    }
    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fffbeb;
        height: 100vh;
        border-right: 1px solid #c5c5c5;
        transform: translateX(-100%);
        padding: 15px 50px 15px 20px;
        transition: transform 300ms ease-in-out;
    }
    .open {
        transition: transform 300ms ease-in-out;
        transform: translateX(0%);
    }
    .navbar_link_item {
        font-size: 18px;
        margin: 10px 0;
    }
}
